{% extends 'admin/base.html.twig' %}

{% block title %}Create{% endblock %}

{% block body %}
<h1>Creer une recette</h1>

	{{ form_start(recipeForm)}}
	{{ form_rest(recipeForm)}}
	<input type="submit" value="Creer" class="btn btn-primary">
	{{ form_end(recipeForm)}}
{% endblock %}
