{% extends 'admin/base.html.twig' %}


{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Supprimer un ingrédient</h1>
	{{ form_start(ingredientForm)}}
	{{ form_rest(ingredientForm)}}
	<input type="submit" value="Supprimer" class="btn btn-primary">
	{{ form_end(ingredientForm)}}
{% endblock %}
